<h1>Página de alta</h1>

<form action="/zapateria/alta">
	<label>Tipo:</label><input type="text" name="tipo"/><br>
	<label>Color:</label><input type="text" name="color"/><br>
	<label>Talla:</label><input type="number" name="talla"/><br>
	<input type="submit" name="crear" value="Crear"/>
</form>
<br>
<a href="/zapateria/index">Volver</a>

