<!DOCTYPE html>
	<head>
		<title>Fecha Actual</title>
		
		<style type="text/css">
			h1 {
				color: red
			}
			p {
				color: pink
			}
		</style>
	</head>

	<body>
		<h1>Hola!Probamos la fecha</h1>

		<h2>La fecha actual es: <%=@fechaActual%></h2>

	</body>

</html>
