<!DOCTYPE html>

	<head>
		<title>Parametros</title>
		
		<style type="text/css">
			h1 {
				color: red
			}
		</style>
	</head>

	<body>
		<h1>Hola!Aqui probando cositas de los parámetros</h1>

		<h2><%=@saludo%></h2>

	</body>

</html>
