<!DOCTYPE html>
	<head>
		<title>Calculadora</title>
		<h1>El resultado de tu operación es:</h1>
	</head>
	
	<body>
		
		<h2><%=@resultado%></h2>
		
		<a href="index">Volver</a>
		
	</body>
</html>
