<!DOCTYPE html>
	<head>
		<title>Login Usuario</title>
		<h1>Página de identificación</h1>
	</head>
	
	<body>
		
		<form action="/loginUsuario/loginUser" metod="get">
			Usuario: <input type="text" name="user"/ placeholder="Superior a 5 caracteres"><br>
			Contraseña: <input type="password" name="password" placeholder="Superior a 6 caracteres"/><br>
			<input type="submit" value="Enviar"/>
		</form>
		
		<a href="LoginUsuario/registroUsuario">Registrarse</a>
		<a href="LoginUsuario/listarUsuarios">Listar Usuarios</a>
	</body>

</html>
