<!DOCTYPE html>
	<head>
		<title>Login Usuario</title>
		<h1>Página de comprobación de la identificación</h1>
	</head>
	
	<body>
		
		<h2><%=@mensaje%></h2>
		
		
		<a href="listarUsuarios">Listar Usuarios</a>
	</body>
</html>
