<!DOCTYPE html>
	<head>
		<title>Login Usuario</title>
		<h1>Página de registro</h1>
	</head>
	
	<body>
		
		<form action="/loginUsuario/signinUser" metod="get">
			Usuario: <input type="text" name="user"/ placeholder="Superior a 5 caracteres" required><br>
			Contraseña: <input type="password" name="password" placeholder="Superior a 6 caracteres" required/><br>
			<input type="submit" value="Enviar"/>
		</form>
		
		
		<a href="listarUsuarios">Listar Usuarios</a>
	</body>

</html>
