<!DOCTYPE html>
	<head>
		<title>Nuestro Hola Mundo</title>
		
		<style type="text/css">
			h1 {
				color: red
			}
			p {
				color: pink
			}
		</style>
	</head>

	<body>
		<h1>Hola!Probamos la fecha</h1>

		<h2>
			<%=@fecha%><br>
			<%=@fecha2%>
			<p><%=@holaputiiii%><br>
				<%=@losdelatletisoismuyfeo%>
			</p>
		</h2>

	</body>
</html>
