// Place all the styles related to the registro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tabla {
  font-family: Calibri;
  border: 1px solid;
  border-collapse: collapse; 
  text-align: center; 
  margin-top: 10px; 
  width: 50%;
  margin: 0 auto; 
}

.tabla td {
  border: 1px solid;
  border-collapse: collapse; 
  background-color: #FFEEDE;
}

.tabla th {
  border: 1px solid;
  border-collapse: collapse;
  background-color: #9ADD98; 
}

.formulario {
  border: 1px solid;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.dcha {
  border: 1px solid;
  border-collapse: collapse;
  font-weight: bold;
  color: blue;
  text-align: left;
  margin: 10px;
}

.izq {
  border: 1px solid;
  border-collapse: collapse;
  font-style: italic;
  text-align: right;
  padding-right: 3px;
}

