<!DOCTYPE html>
	<head>
		<title>Nuestro Hola Mundo</title>
		
		<style type="text/css">
			h1 {
				color: yellow
			}
		</style>
	</head>

	<body>
		<h1>
			<%=@saludo%><br>

		</h1>
	</body>
</html>
